<!-- choose_burial_type.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Burial Type</title>
</head>

<body>
    <h1>Choose Burial Type</h1>

    <form method="post" action="{{ url_for('main.choose_burial_type') }}">
        <label for="burial_type">Select Burial Type:</label>
        <select name="burial_type" required>
            <option value="ordinary">Ordinary Burial</option>
            <option value="cremation">Cremation</option>
        </select>
        <button type="submit">Submit</button>
    </form>

    <!-- Add automatic redirection script -->
    <script>
        // Redirect to the customization page after form submission
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('form').addEventListener('submit', function () {
                var selectedBurialType = document.querySelector('select[name="burial_type"]').value;
                window.location.href = "{{ url_for('main.customize', burial_type='') }}" + selectedBurialType;
            });
        });
    </script>
</body>

</html>
