<!-- customize.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize {{ burial_type }} Burial</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customize.css') }}">

    
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Customize {{ burial_type }} Burial</h1>

    {% if burial_type == 'ordinary' %}
        <form method="post" action="{{ url_for('main.add_to_cart') }}">
            <input type="hidden" name="item_type" value="Casket">
            <input type="hidden" name="customize" value="True">
            <input type="hidden" name="burial_type" value="ordinary">
        
            <section>
                <h2>Choose Casket</h2>
                <label for="wood_type">Wood Type:</label>
                <select id="wood_type" name="wood_type" required>
                    {% for casket in existing_caskets %}
                        <option value="{{ casket }}">{{ casket }}</option>
                    {% endfor %}
                </select>
                <label for="casket_length">Length:</label>
                <input type="text" id="casket_length" name="casket_length" required>
                <label for="casket_width">Width:</label>
                <input type="text" id="casket_width" name="casket_width" required>
                <label for="casket_depth">Depth:</label>
                <input type="text" id="casket_depth" name="casket_depth" required>
            </section>
        
            <section>
                <h2>Choose Tombstone</h2>
                <label for="stone_type">Stone Type:</label>
                <select id="stone_type" name="stone_type" required>
                    {% for tombstone in existing_tombstones %}
                        <option value="{{ tombstone }}">{{ tombstone }}</option>
                    {% endfor %}
                </select>
                <label for="engraving">Engraving:</label>
                <input type="text" id="engraving" name="engraving" required>
                <label for="tombstone_length">Length:</label>
                <input type="text" id="tombstone_length" name="tombstone_length" required>
                <label for="tombstone_width">Width:</label>
                <input type="text" id="tombstone_width" name="tombstone_width" required>
                <label for="tombstone_height">Height:</label>
                <input type="text" id="tombstone_height" name="tombstone_height" required>
            </section>
        
            <button type="submit">Add to Cart</button>
        </form>


    {% elif burial_type == 'cremation' %}
        <!-- Display customization options for Cremation (urns) -->
        <form method="post" action="{{ url_for('main.add_to_cart') }}">
            <input type="hidden" name="item_type" value="Urn">
            <input type="hidden" name="customize" value="True">
            <input type="hidden" name="burial_type" value="cremation">
            <h2>Choose Urn</h2>
            <label for="volume">Volume:</label>
            <input type="text" id="volume" name="volume" required>
            <label for="material">Kind:</label>
            <select id="material" name="material" required>
                {% for urn in existing_urns %}
                    <option value="{{ urn }}">{{ urn }}</option>
                {% endfor %}
            </select>
            <label for="urn_color">Color:</label>
            <input type="text" id="color" name="color" required>

            <button type="submit">Add to Cart</button>
        </form>
    {% endif %}
</body>

</html>
