<!-- home.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funeral Agency</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">


</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if username %}
        <p>Hello, {{ username }}!</p>
        <a href="{{ url_for('main.logout') }}">Logout</a>

        {% if not burial_type %}
            <h2>Choose Burial Type</h2>
            <ul>
                <li><a href="{{ url_for('main.default_contents', burial_type='ordinary') }}">Ordinary Burial</a></li>
                <li><a href="{{ url_for('main.default_contents', burial_type='cremation') }}">Cremation</a></li>
            </ul>
        {% else %}
            {% if burial_type == 'ordinary' %}
                <a href="{{ url_for('main.default_contents', burial_type='ordinary') }}">Ordinary Burial</a>
            {% elif burial_type == 'cremation' %}
                <a href="{{ url_for('main.default_contents', burial_type='cremation') }}">Cremation</a>
            {% endif %}
        {% endif %}
    {% else %}
        <img src="{{ url_for('static', filename='Funeral_agency_logo.jpg') }}" alt="Funeral Agency Picture">
        <h2>Login</h2>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form method="post" action="{{ url_for('main.login') }}">
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <a href="{{ url_for('main.register') }}">Register</a>
    {% endif %}

    <a href="{{ url_for('main.cart_contents') }}">View Cart</a>

</body>

</html>
