<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Confirmation</title>
</head>

<body>
    <h1>Payment Confirmation</h1>

    <!-- Payment Form -->
    <form method="post" action="{{ url_for('main.payment') }}">
        <!-- Card Number -->
        <label for="card_number">Card Number:</label>
        <input type="text" id="card_number" name="card_number" required>

        <!-- Expiration Date -->
        <label for="expiration_date">Expiration Date:</label>
        <input type="text" id="expiration_date" name="expiration_date" placeholder="MM/YYYY" required>

        <!-- CVV -->
        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv" required>

        <!-- Card Holder -->>
        <label for="cardholder_name">Card Holder Name:</label>
        <input type="text" id="cardholder_name" name="cardholder_name" required>

        <!-- Submit Button -->
        <button type="submit">Submit Payment</button>
    </form>
    
    <a href="{{ url_for('main.home') }}">Back to Home</a>
</body>

</html>
